*.log
.htaccess

# Ignore compiled assets
assets/css*
assets/js*

# Ignore node_modules and vendors everywhere
node_modules
vendors

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.vscode

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
